<as-split direction="vertical">
  <as-split-area>
    <as-split>
      <as-split-area>
        <app-editor />
      </as-split-area>

      <app-panel title="Output log" as-split-area size="20">
        <code>
          <pre>{{ output }}</pre>
        </code>
      </app-panel>
    </as-split>
  </as-split-area>
  <as-split-area size="45">
    <as-split>
      <app-panel title="Console" as-split-area>
        <app-terminal
          #terminal
          (input)="emulator.sendPort(Port.Console, $event)"
          (resize)="emulator.resizePort(Port.Console, $event)"
        />
      </app-panel>
      <app-panel title="Screen log" as-split-area>
        <app-terminal #screen />
      </app-panel>
      <app-panel title="Controller log" as-split-area>
        <app-terminal #controller />
      </app-panel>
    </as-split>
  </as-split-area>
</as-split>
