:root {
    color-scheme: dark;

    --dragger-width: 15px;
    @media (pointer: fine) {
        --dragger-width: 7px;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.tool-panel {
    position: relative;
    padding: 0;
    white-space: nowrap;
    display: flex;
}

.button {
    box-shadow: none !important;
}