@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #020617;
  color: #f8fafc;
  margin: 0;
}
